
/*Styles for the unorder list menu*/
.navlink {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 18px;
}

.navlink li {
  float: left;
  
}

.navlink li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  
}

/*Styles for mouse over the list in the navigation menu*/
.navlink li a:hover {
  background-color: red;
}

/*Styles for headings and paragraphs*/

h2 {
  color: red;
}

p, h2, h1 {
 text-align:center;
 margin-left: 100px;
 margin-right: 100px;
 font-size: 35px;
}

h1 {
  color:black;
}

* {box-sizing:border-box}

/* Styles for the slideshow container */
.slideshow-container {
  width= 1672;
  height=300;
  position: relative;
  margin: auto;
}

/* Styles for hide the images by default */
.mySlides {
  display: none;
}

/* Styles for next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Styles for position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Styles for on hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Styles for caption text */
.text {
  color: red;
  font-size: 45px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Styles for number text (1/3) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Styles for the dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Styles for fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.listp {
  font-size: 30px;
  margin-left: 250px;
}

/* Styles for credits */
#credits{
		position:auto;
		bottom:10px;
		font-family: serif;
		font-size:12px;
		color:#000;
		z-index:999;
		background-color:#fff;
		opacity:.75;
	}

/* Styles for slideshow */
.container img {
  width: 1505px;
  height: 765px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 80px;
}

/* Styles centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

/* Styles for the text next to the images */
#men,#kote,#do, #tsuki {
  display: flex;
  align-items: center;
  font-size: 30px;
}

/* Styles for spacing text and images */
#men img, #kote img, #do img {
  margin-right: 0px;
  width: 500px;
  height: 370px;
}

#tsuki img {
  margin-right: 0px;
  width: 380px;
  height: 370px;
}

/* Styles for the order list */
ol {
  font-size: 30px;
  margin-left: 500px;
}

/* Styles for the form */
.form {
  text-align: center;
  font-size: 30px;
}

/* Styles for the table */
table {
  text-align: center;
  position: relative;
  border-collapse: collapse; 
  background-color: #f6f6f6;
}

/* Styles for table */
td, th {
  border: 1px solid #999;
  padding: 20px;
}
th {
  background: brown;
  color: white;
  border-radius: 0;
  position: sticky;
  top: 0;
  padding: 10px;
}
.primary{
  background-color: #000000
}

tfoot > tr  {
  background: black;
  color: white;
}
tbody > tr:hover {
  background-color: red;
}

.center {
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
}

/* Styles for footer */
.footer {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 160px;
}

/*Styles for responsive design*/
@media screen and (min-width: 1000px){
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    font-size: 1vw;
}
}